body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}


.nav-item a {
    color: rgb(3, 3, 53);
    font-size: 20px;
}

.nav {
    justify-content: flex-end;
}

.header-main {
    margin: 25px;
    margin-bottom: 50px;
}

.header-name {
    text-transform: uppercase;
    font-size: 30px;
}

.header-info {
    font-size: 20px;
    color: gray;
}

.main-img {
    width: 25px;
    float: left;
}

.main-p {
    text-align: center;
}

.logos {
    text-align: center;
}